@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Subsctribo</h1>
    <p class="lead">Manage your subscriptions here!</p>
    <p><a href="./Subscriptions" class="btn btn-primary btn-lg">Go to Subscriptions &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
</div>